/* The categories that domains are labeled with.

   Format:

   "template key": (
      "label title",
      background color,
      "category description",
   )
*/
$categories: (
  "pulitzer": (
    "Pulitzer",
    #b5c5f5,
    "Organizations who have won Pultizers for Journalism since 1981 (excluding commentary & photography)"
  ),
  "fringe": (
    "Fringe",
    #f5c5b5,
    "Fringe media: kooks, cranks, conspiracies, rumors, gossip, sensationalism, tabloid journalism, etc",
  ),
  "ideologues": (
    "Ideologues",
    #c5f5b5,
    "Organizations with a defined ideological agenda",
  ),
  "opinion": (
    "Opinion",
    #f5f5c5,
    "Articles that appear to be opinion pieces",
  ),
);

/* These are domains to match

  Format:

  "domain": ("category", "reason")
*/

$domains: (
  "ap.org": ("pulitzer", ""),
  "postandcourier.com": ("pulitzer", ""),
  "theguardian.com": ("pulitzer", ""),
  "washingtonpost.com": ("pulitzer", ""),
  "philly.com": ("pulitzer", ""),
  "latimes.com": ("pulitzer", ""),
  "heraldcourier.com": ("pulitzer", ""),
  "lasvegassun.com": ("pulitzer", ""),
  "wsj.com": ("pulitzer", ""),
  "nola.com": ("pulitzer", ""),
  "sunherald.com": ("pulitzer", ""),
  "nytimes.com": ("pulitzer", ""),
  "bostonglobe.com": ("pulitzer", ""),
  "oregonlive.com": ("pulitzer", ""),
  "grandforksherald.com": ("pulitzer", ""),
  "newsobserver.com": ("pulitzer", ""),
  "virginislandsdailynews.com": ("pulitzer", ""),
  "ohio.com": ("pulitzer", ""),
  "miamiherald.com": ("pulitzer", ""),
  "sacbee.com": ("pulitzer", ""),
  "desmoinesregister.com": ("pulitzer", ""),
  "thewashingtondailynews.com": ("pulitzer", ""),
  "adn.com": ("pulitzer", ""),
  "charlotteobserver.com": ("pulitzer", ""),
  "post-gazette.com": ("pulitzer", ""),
  "denverpost.com": ("pulitzer", ""),
  "clarionledger.com": ("pulitzer", ""),
  "detroitnews.com": ("pulitzer", ""),
  "seattletimes.com": ("pulitzer", ""),
  "tuscaloosanews.com": ("pulitzer", ""),
  "nj.com": ("pulitzer", ""),
  "eagletribune.com": ("pulitzer", ""),
  "courant.com": ("pulitzer", ""),
  "newsday.com": ("pulitzer", ""),
  "mercurynews.com": ("pulitzer", ""),
  "courier-journal.com": ("pulitzer", ""),
  "montgomeryadvertiser.com": ("pulitzer", ""),
  "pilotonline.com": ("pulitzer", ""),
  "publicintegrity.org": ("pulitzer", ""),
  "heraldtribune.com": ("pulitzer", ""),
  "chicagotribune.com": ("pulitzer", ""),
  "wweek.com": ("pulitzer", ""),
  "toledoblade.com": ("pulitzer", ""),
  "baltimoresun.com": ("pulitzer", ""),
  "ocregister.com": ("pulitzer", ""),
  "providencejournal.com": ("pulitzer", ""),
  "orlandosentinel.com": ("pulitzer", ""),
  "dallasnews.com": ("pulitzer", ""),
  "indystar.com": ("pulitzer", ""),
  "startribune.com": ("pulitzer", ""),
  "ajc.com": ("pulitzer", ""),
  "kentucky.com": ("pulitzer", ""),
  "tampabay.com": ("pulitzer", ""),
  "tucson.com": ("pulitzer", ""),
  "bloomberg.com": ("pulitzer", ""),
  "jsonline.com": ("pulitzer", ""),
  "greatfallstribune.com": ("pulitzer", ""),
  "daytondailynews.com": ("pulitzer", ""),
  "sandiegouniontribune.com": ("pulitzer", ""),
  "politifact.com": ("pulitzer", ""),
  "propublica.org": ("pulitzer", ""),
  "gazette.com": ("pulitzer", ""),

  "breitbart.com": ("fringe", "sensationalism, fringe conspiracy theories"),
  "dailycaller.com": ("fringe", "sensationalism, tabloid journalism"),
  "infowars.com": ("fringe", "fringe conspiracy theories"),
  "wnd.com": ("fringe", "fringe conspiracy theories, tabloid journalism"),
  "globalresearch.ca": ("fringe", "fringe conspiracy theories"),
  "huffingtonpost.com": ("fringe", "fringe conspiracy theories, sensationalism, tabloid journalism"),
  "rt.com": ("fringe", "fringe conspiracy theories"),
  "NaturalNews.com": ("fringe", "fringe conspiracy theories"),
  "Pravda.ru": ("fringe", "fringe conspiracy theories"),
  "sputniknews.com": ("fringe", "fringe conspiracy theories"),
  "dailymail.co.uk": ("fringe", "tabloid journalism"),
  "nypost.com": ("fringe", "tabloid journalism"),
  "nationalenquirer.com": ("fringe", "fringe conspiracy theories, tabloid journalism"),
  "thesun.co.uk": ("fringe", "tabloid journalism"),
  "aim.com": ("fringe", "Fringe conspiracy theories (birtherism, Vince Foster, world government, global warming denialism)"),
  "newsmax.com": ("fringe", "Fringe conspiracy theories, quack medicine, sensationalism"),
  "express.co.uk": ("fringe", "Fringe conspiracy theories (alien invasions, illuminati), tabloid journalism, sensationalism"),

  "cnsnews.com": ("ideologues", "christian conservative, fundamentalist christian, creationism, global warming denialism"),
);

/* These are url fragments using substring matching

  Format:

  "url-fragment": ("category", "reason")
*/
$url-fragments: (
  "al.com/burmingham/": ("pulitzer", ""),

  "/opinion": ("opinion", "")
);


/* Build category templates */
@each $key, $value in $categories {
  $label: nth($value, 1);
  $color: nth($value, 2);
  $description: nth($value, 3);

  %#{$key} {
    content: "#{$label}";
    background-color: #{$color};
  }

  %#{$key}-hover {
    content: "#{$description}";
  }
}

/* Match /r/politics and /r/news for right now */
div.link[data-subreddit="politics"], div.link[data-subreddit="news"] {
  div.entry p.title::before {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;

    border: 1px solid rgba(0,0,0,.1);
    font-size: 75%;
    font-weight: bold;
    border-radius: 2px;
    color: #333;
    margin-bottom: 1px;
    margin-right: .5em;
    padding: 0 10px;
  }

  @each $key, $value in $domains {
    $category: nth($value, 1);
    $reason: nth($value, 2);

    &[data-domain$="#{$key}"] div.entry p.title::before {
      @extend %#{$category};
    }

    @if null {
      &[data-domain$="#{$key}"] div.entry p.title:hover::before {
        @if str-length($reason) > 0 {
          content: $reason;
        }
        @if str-length($reason) == 0 {
          @extend %#{$category}-hover;
        }
      }
    }
  }

  @each $key, $value in $url-fragments {
    $category: nth($value, 1);
    $reason: nth($value, 2);
    &[data-url*="#{$key}"] div.entry p.title::before {
      @extend %#{$category};
    }

    @if null {
      &[data-url*="#{$key}"] div.entry p.title:hover::before {
        @if str-length($reason) > 0 {
          content: $reason;
        }
        @if str-length($reason) == 0 {
          @extend %#{$category}-hover;
        }
      }
    }
  }
}
