/* The categories that domains are labeled with.

   Format:

   "template key": (
      "label title",
      background color,
      "category description",
   )
*/
$categories: (
  "pulitzer": (
    "Pulitzer",
    #b5c5f5,
    "Organizations who have won Pulitzer for Journalism since 1981 (excluding commentary & photography)"
  ),
  "fringe": (
    "Fringe",
    #f5c5b5,
    "Fringe media: kooks, cranks, conspiracies, rumors, gossip, sensationalism, tabloid journalism, fake news, propaganda, etc",
  ),
  "satire": (
    "Satire",
    #c5f5b5,
    "Clearly disclosed satire",
  ),
  "opinion": (
    "Opinion",
    #f5f5c5,
    "Articles that appear to be opinion pieces",
  ),
);

/* These are domains to match

  Format:

  "domain": ("category", "reason")
*/

$domains: (
  "ap.org": ("pulitzer", ""),
  "postandcourier.com": ("pulitzer", ""),
  "theguardian.com": ("pulitzer", ""),
  "washingtonpost.com": ("pulitzer", ""),
  "philly.com": ("pulitzer", ""),
  "latimes.com": ("pulitzer", ""),
  "heraldcourier.com": ("pulitzer", ""),
  "lasvegassun.com": ("pulitzer", ""),
  "wsj.com": ("pulitzer", ""),
  "nola.com": ("pulitzer", ""),
  "sunherald.com": ("pulitzer", ""),
  "nytimes.com": ("pulitzer", ""),
  "bostonglobe.com": ("pulitzer", ""),
  "oregonlive.com": ("pulitzer", ""),
  "grandforksherald.com": ("pulitzer", ""),
  "newsobserver.com": ("pulitzer", ""),
  "virginislandsdailynews.com": ("pulitzer", ""),
  "ohio.com": ("pulitzer", ""),
  "miamiherald.com": ("pulitzer", ""),
  "sacbee.com": ("pulitzer", ""),
  "desmoinesregister.com": ("pulitzer", ""),
  "thewashingtondailynews.com": ("pulitzer", ""),
  "adn.com": ("pulitzer", ""),
  "charlotteobserver.com": ("pulitzer", ""),
  "post-gazette.com": ("pulitzer", ""),
  "denverpost.com": ("pulitzer", ""),
  "clarionledger.com": ("pulitzer", ""),
  "detroitnews.com": ("pulitzer", ""),
  "seattletimes.com": ("pulitzer", ""),
  "tuscaloosanews.com": ("pulitzer", ""),
  "nj.com": ("pulitzer", ""),
  "eagletribune.com": ("pulitzer", ""),
  "courant.com": ("pulitzer", ""),
  "newsday.com": ("pulitzer", ""),
  "mercurynews.com": ("pulitzer", ""),
  "courier-journal.com": ("pulitzer", ""),
  "montgomeryadvertiser.com": ("pulitzer", ""),
  "pilotonline.com": ("pulitzer", ""),
  "publicintegrity.org": ("pulitzer", ""),
  "heraldtribune.com": ("pulitzer", ""),
  "chicagotribune.com": ("pulitzer", ""),
  "wweek.com": ("pulitzer", ""),
  "toledoblade.com": ("pulitzer", ""),
  "baltimoresun.com": ("pulitzer", ""),
  "ocregister.com": ("pulitzer", ""),
  "providencejournal.com": ("pulitzer", ""),
  "orlandosentinel.com": ("pulitzer", ""),
  "dallasnews.com": ("pulitzer", ""),
  "indystar.com": ("pulitzer", ""),
  "startribune.com": ("pulitzer", ""),
  "ajc.com": ("pulitzer", ""),
  "kentucky.com": ("pulitzer", ""),
  "tampabay.com": ("pulitzer", ""),
  "tucson.com": ("pulitzer", ""),
  "bloomberg.com": ("pulitzer", ""),
  "jsonline.com": ("pulitzer", ""),
  "greatfallstribune.com": ("pulitzer", ""),
  "daytondailynews.com": ("pulitzer", ""),
  "sandiegouniontribune.com": ("pulitzer", ""),
  "politifact.com": ("pulitzer", ""),
  "propublica.org": ("pulitzer", ""),
  "gazette.com": ("pulitzer", ""),

  "breitbart.com": ("fringe", "sensationalism, fringe conspiracy theories"),
  "dailycaller.com": ("fringe", "sensationalism, tabloid journalism"),
  "infowars.com": ("fringe", "fringe conspiracy theories"),
  "wnd.com": ("fringe", "fringe conspiracy theories, tabloid journalism"),
  "globalresearch.ca": ("fringe", "fringe conspiracy theories"),
  "huffingtonpost.com": ("fringe", "fringe conspiracy theories, sensationalism, tabloid journalism"),
  "rt.com": ("fringe", "fringe conspiracy theories"),
  "NaturalNews.com": ("fringe", "fringe conspiracy theories"),
  "Pravda.ru": ("fringe", "fringe conspiracy theories"),
  "sputniknews.com": ("fringe", "fringe conspiracy theories"),
  "dailymail.co.uk": ("fringe", "tabloid journalism"),
  "nypost.com": ("fringe", "tabloid journalism"),
  "nationalenquirer.com": ("fringe", "fringe conspiracy theories, tabloid journalism"),
  "thesun.co.uk": ("fringe", "tabloid journalism"),
  "aim.com": ("fringe", "Fringe conspiracy theories (birtherism, Vince Foster, world government, global warming denialism)"),
  "newsmax.com": ("fringe", "Fringe conspiracy theories, sensationalism"),
  "express.co.uk": ("fringe", "Fringe conspiracy theories (alien invasions, illuminati), tabloid journalism, sensationalism"),
  "examiner.com": ("fringe", "Fringe conspiracy theories (ufos, aliens), tabloid journalism, sensationalism, blogs"),
  "usherald.com": ("fringe", "Tabloid journalism, sensationalism"),
  "madworldnews.com": ("fringe", "Tabloid journalism, sensationalism"),
  "truepundit.com": ("fringe", "Tabloid journalism, sensationalism"),

  "frontpagemag.com": ("fringe", "Virulently Islamaphobic, sensationalism"),
  "jihadwatch.com": ("fringe", "Virulently Islamaphobic, sensationalism"),
  "cnsnews.com": ("fringe", "Ideology: Fundamentalist Christian Conservative, creationism, global warming denialism"),

  "uspolitico.com": ("fringe", "Sensationalism, tabloid journalism, seemingly fake news"),

  // Fake news sites from Snopes - http://www.snopes.com/2016/01/14/fake-news-sites/
  "nationalreport.net": ("fringe", "Fake news (snopes)"),
  "worldnewsdailyreport.com": ("fringe", "Fake news (snopes)"),
  "huzlers.com": ("fringe", "Fake news (snopes)"),
  "empirenews.com": ("fringe", "Fake news (snopes)"),
  "stuppid.com": ("fringe", "Fake news (snopes)"),
  "newsexaminer.net": ("fringe", "Fake news (snopes)"),
  "newswatch28.com": ("fringe", "Fake news (snopes)"),
  "newswatch33.com": ("fringe", "Fake news (snopes)"),
  "nahadaily.com": ("fringe", "Fake news (snopes)"),
  "thestatelyharold.com": ("fringe", "Fake news (snopes)"),
  // NewsBuzzDaily (can't find)
  "now8news.com": ("fringe", "Fake news (snopes)"),
  "reporter.bz": ("fringe", "Fake news (snopes)"),
  "empireherald.com": ("fringe", "Fake news (snopes)"),
  "satiratribune.com": ("satire", "Fake news (snopes)"),
  "ncscooper.com": ("satire", "Fake news (snopes)"),
  "associatedmediacoverage.com": ("fringe", "Fake news (snopes)"),


  // From Zimdars' fake news list
  "100percentfedup.com": ("fringe", "Sensationalism, conspiracy theories (Zidmar's)"),

  "EnduringVision.com": ("fringe", "Zidmar's fake news list"),
  "PakAlertPress.com": ("fringe", "Zidmar's fake news list"),
  "21stCenturyWire.com": ("fringe", "Zidmar's fake news list"),
  "FPRNradio.com": ("fringe", "Zidmar's fake news list"),
  "PoliticalBlindSpot.com": ("fringe", "Zidmar's fake news list"),
  "70news.wordpress.com": ("fringe", "Zidmar's fake news list"),
  "thefreethoughtproject.com": ("fringe", "Zidmar's fake news list"),
  "PoliticalEars.com": ("fringe", "Zidmar's fake news list"),
  "Abcnews.com.co": ("fringe", "Zidmar's fake news list"),
  "GeoEngineeringWatch.org": ("fringe", "Zidmar's fake news list"),
  "Politicalo.com": ("fringe", "Zidmar's fake news list"),
  "activistpost.com": ("fringe", "Conspiracy theories (Zidmar's)"),
  "PoliticusUSA.com": ("fringe", "Zidmar's fake news list"),
  "AddictingInfo.org": ("fringe", "Zidmar's fake news list"),
  "GovtSlaves.info": ("fringe", "Zidmar's fake news list"),
  "PrisonPlanet.com": ("fringe", "Zidmar's fake news list"),
  "AmericanNews.com": ("fringe", "Zidmar's fake news list"),
  "GulagBound.com": ("fringe", "Zidmar's fake news list"),
  "PrisonPlanet.tv": ("fringe", "Zidmar's fake news list"),
  "AnonNews.co": ("fringe", "Zidmar's fake news list"),
  "HangTheBankers.com": ("fringe", "Zidmar's fake news list"),
  // "Private-eye.co.uk (includes 4)": ("fringe", "Zidmar's fake news list"),
  "Associated Media Coverage": ("fringe", "Zidmar's fake news list"),
  "HumansAreFree.com": ("fringe", "Zidmar's fake news list"),
  "ProjectVeritas.com": ("fringe", "Zidmar's fake news list"),
  "BeforeItsNews.com": ("fringe", "Zidmar's fake news list"),
  //"Being Liberal": ("fringe", "Zidmar's fake news list"), - no domain
  //"IfYouOnlyNews": ("fringe", "Zidmar's fake news list"), - no domain
  //"React 365": ("fringe", "Zidmar's fake news list"), - no domain
  "BigAmericanNews.com": ("fringe", "Zidmar's fake news list"),
  // "Indecision Forever (1)": ("fringe", "Zidmar's fake news list"), - no domain
  "RealFarmacy.com": ("fringe", "Zidmar's fake news list"),
  "BigPZone.com": ("fringe", "Zidmar's fake news list"),
  "ijr.com": ("fringe", "Zidmar's fake news list"),
  "RealNewsRightNow.com": ("fringe", "Zidmar's fake news list"),
  "bipartisanreport.com": ("fringe", "Zidmar's fake news list"),
  "redflagnews.com": ("fringe", "Conspiracy theories, sensationalism (Zidmar's)"),
  "bizpacreview.com": ("fringe", "Zidmar's fake news list"),
  //"redstate.com": ("fringe", "Zidmar's fake news list"), - opinion
  "bluenationreview.com": ("fringe", "Zidmar's fake news list"),
  "IntelliHub.com": ("fringe", "Zidmar's fake news list"),
  //"Reductress (4)": ("fringe", "Zidmar's fake news list"),
  //"Inquisitr.com": ("fringe", "Zidmar's fake news list"), - don't see fake news
  "RileNews.com": ("fringe", "Zidmar's fake news list"),
  //"callthecops.net (4)": ("fringe", "Zidmar's fake news list"),
  "JonesReport.com": ("fringe", "Zidmar's fake news list"),
  //"cap-news.com  (4)": ("fringe", "Zidmar's fake news list"),
  "LewRockwell.com": ("fringe", "Zidmar's fake news list"),
  //"Sprotspickle.com (4)": ("fringe", "Zidmar's fake news list"),
  //"ChristWire.org (4)": ("fringe", "Zidmar's fake news list"),
  //"Liberal America": ("fringe", "Zidmar's fake news list"), - no domain
  //"TheBlaze.com": ("fringe", "Zidmar's fake news list"), - maybe tabloid, investigate later
  "Chronicle.su": ("fringe", "Zidmar's fake news list"),
  "LibertyTalk.fm": ("fringe", "Zidmar's fake news list"),
  //"The Free Thought Project (3)": ("fringe", "Zidmar's fake news list"), - no domain
  "CivicTribune.com": ("fringe", "Zidmar's fake news list"),
  "libertyunyielding.com": ("fringe", "Zidmar's fake news list"),
  //"Borowitz Report (4)": ("fringe", "Zidmar's fake news list"),
  //"ClickHole.com (4)": ("fringe", "Zidmar's fake news list"),
  "LibertyVideos.org": ("fringe", "Zidmar's fake news list"),
  "theonion.com": ("satire", "Zidmar's fake news list"),
  "CoastToCoastAM.com": ("fringe", "Zidmar's fake news list"),
  "LibertyMovementRadio.com": ("fringe", "Zidmar's fake news list"),
  "other98.com": ("fringe", "Zidmar's fake news list"),
  "collective-evolution.com": ("fringe", "Zidmar's fake news list"),
  "MediaMass.net": ("fringe", "Zidmar's fake news list"),
  "ConsciousLifeNews.com": ("fringe", "Zidmar's fake news list"),
  //"MegynKelly.us": ("fringe", "Zidmar's fake news list"), - doesn't appear to exist
  "ConservativeOutfitters.com": ("fringe", "Zidmar's fake news list"),
  "MSNBC.com.co": ("fringe", "Zidmar's fake news list"),
  "TheDailySheeple.com": ("fringe", "Zidmar's fake news list"),
  "WideAwakeAmerica.com": ("fringe", "Zidmar's fake news list"),
  "MSNBC.website": ("fringe", "Zidmar's fake news list"),
  "TheNewsNerd.com": ("fringe", "Zidmar's fake news list"),
  "CountdownToZeroTime.com": ("fringe", "Zidmar's fake news list"),
  "TheRunDownLive.com": ("fringe", "Zidmar's fake news list"),
  "CounterPsyOps.com": ("fringe", "Zidmar's fake news list"),
  "TheUsPatriot.com": ("fringe", "Zidmar's fake news list"),
  "TruthFrequencyRadio.com": ("fringe", "Zidmar's fake news list"),
  "CreamBMP.com": ("fringe", "Zidmar's fake news list"),
  "Twitchy.com": ("fringe", "Zidmar's fake news list"),
  "DailyBuzzLive.com": ("fringe", "Zidmar's fake news list"),
  "UnconfirmedSources.com": ("fringe", "Zidmar's fake news list"),
  "DailyCurrant.com": ("fringe", "Zidmar's fake news list"),
  "newcenturytimes.com": ("fringe", "Zidmar's fake news list"),
  "dailywire.com": ("fringe", "Zidmar's fake news list"),
  "News-Hound.com": ("fringe", "Zidmar's fake news list"),
  "US.Blasting.News": ("fringe", "Zidmar's fake news list"),
  "DCClothesLine.com": ("fringe", "Zidmar's fake news list"),
  "NewsBiscuit.com": ("fringe", "Zidmar's fake news list"),
  //"US Uncut (3)": ("fringe", "Zidmar's fake news list"), - no domain
  "DCGazette.com": ("fringe", "Zidmar's fake news list"),
  //"Newslo (1, 4)": ("fringe", "Zidmar's fake news list"), - no domain
  "VeteransToday.com": ("fringe", "Zidmar's fake news list"),
  "DerfMagazine.com": ("fringe", "Zidmar's fake news list"),
  "NewsMutiny.com": ("fringe", "Zidmar's fake news list"),
  "disclose.tv": ("fringe", "Conspiracy theories (Zidmar's)"),
  "WakingUpWisconsin.com": ("fringe", "Zidmar's fake news list"),
  "DrudgeReport.com.co": ("fringe", "Zidmar's fake news list"),
  //"Winning Democrats": ("fringe", "Zidmar's fake news list"), - no domain
  //"DuffleBlog.com": ("satire", "Zidmar's fake news list"),
  "NewsWire-24.com": ("fringe", "Zidmar's fake news list"),
  "WitScience.org": ("fringe", "Zidmar's fake news list"),
  "DuhProgressive.com": ("fringe", "Zidmar's fake news list"),
  "NoDisInfo.com": ("fringe", "Zidmar's fake news list"),
  "Embols.com": ("fringe", "Zidmar's fake news list"),
  "NowTheEndBegins.com": ("fringe", "Zidmar's fake news list"),
  "WorldTruth.tv": ("fringe", "Zidmar's fake news list"),
  "occupydemocrats.com": ("fringe", "Zidmar's fake news list"),
  //"ZeroHedge.com": ("fringe", "Zidmar's fake news list"), - not sure this is trying to be news
  "Endingthefed.com": ("fringe", "Zidmar's fake news list"),
);

/* These are url fragments using substring matching

  Format:

  "url-fragment": ("category", "reason")
*/
$url-fragments: (
  "al.com/burmingham/": ("pulitzer", ""),

  "/opinion": ("opinion", ""),
  "theguardian.com/commentisfree/": ("opinion", ""),
  "thehill.com/blogs/pundits-blog/": ("opinion", ""),
);


/* Build category templates */
@each $key, $value in $categories {
  $label: nth($value, 1);
  $color: nth($value, 2);
  $description: nth($value, 3);

  %#{$key} {
    content: "#{$label}";
    background-color: #{$color};
  }

  %#{$key}-hover {
    content: "#{$description}";
  }
}

/* Match /r/politics and /r/news for right now */
div.link {
  div.entry p.title::before {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;

    border: 1px solid rgba(0,0,0,.1);
    font-size: 75%;
    font-weight: bold;
    border-radius: 2px;
    color: #333;
    margin-bottom: 1px;
    margin-right: .5em;
    padding: 0 10px;
  }

  @each $key, $value in $domains {
    $category: nth($value, 1);
    $reason: nth($value, 2);

    &[data-domain$="#{$key}"] div.entry p.title::before {
      @extend %#{$category};
    }

    @if null {
      &[data-domain$="#{$key}"] div.entry p.title:hover::before {
        @if str-length($reason) > 0 {
          content: $reason;
        }
        @if str-length($reason) == 0 {
          @extend %#{$category}-hover;
        }
      }
    }
  }

  @each $key, $value in $url-fragments {
    $category: nth($value, 1);
    $reason: nth($value, 2);
    &[data-url*="#{$key}"] div.entry p.title::before {
      @extend %#{$category};
    }

    @if null {
      &[data-url*="#{$key}"] div.entry p.title:hover::before {
        @if str-length($reason) > 0 {
          content: $reason;
        }
        @if str-length($reason) == 0 {
          @extend %#{$category}-hover;
        }
      }
    }
  }
}
